body {
    background-color: #ecf0f1;
}
.login-form {
    height: 100%;
}
.container-panel {
    margin-top: 30px;
}
.container-panel .segment,
.container-panel .menu {
    margin: 0;
}
.container-panel h2 {
    margin: 10px 0;
}
.container-panel .ui.cards {
    justify-content: flex-start
}
.container-panel .ui.card {
    width: 171px;
}
.ui.button i {
    margin: 0;
}
.marker-container {
    position: relative;
    user-select: none;
}
.marker-container img {
    width: 40px;
    height: 40px;
}
.marker-container div {
    /* top: -25px; */
    top: 5px;
    right: 45px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1px 3px;
    position: absolute;
    background-color: rgba(255,255,255,.9);
    display: block;
    white-space: nowrap;
}
.no-data {
    width: 100%;
}
.export-segment {
    display: block;
    margin-bottom: 6px;
}
.desc {
    display: block;
    margin-bottom: 6px;
}